<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  href="../public/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>Kviz globalnih projekata</title>
</head>
<body>
<div class="page-wrapper" style="margin-top: 1rem">
    <nav class="navbar ">
        <span class="navbar-brand" ><a href="/">Kviz globalnih projekata</a></span>
        <!--<a class="float-right" href="/add" title="Add a New Player">Admin</a>-->
    </nav>
</div>
<hr>
