<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>

        Globalni projekti

    </title>


    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="css/toolkit-minimal.css" rel="stylesheet">
    <link href="css/application-minimal.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/login-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Lato|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,500" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">




    <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        /* …curses ios, etc… */
        @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
            #stage {
                height: 1px;
                overflow: auto;
                min-height: 100vh;
                -webkit-overflow-scrolling: touch;
            }
            #mainTitle {
                font-size: 2.5rem;
                font-weight: 100;font-family: 'Montserrat', sans-serif;
                padding-top: 20px
            }
            #mainText{
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                padding-top: 20px;
                font-size: 1.3rem;
            }
            .greenTitle {
                font-size: 1.5rem;
                font-weight: bold;
                color: #2ecc71
            }
            #joinOverFacebook {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 1.3rem;
                color: white

            }
            #auth {
                padding-bottom: 50rem;
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white;
                opacity: 1; /* Firefox */
            }
            .registrationLogin{
                font-family:'Montserrat', sans-serif;
                font-size: 15px;
                color: white;

            }

        }
        @media (min-width: 768px) {

            .greenTitle {
                font-size: 3.2rem;
                font-weight: bold;
                color: #2ecc71
            }
            #mainText{
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                padding-top: 50px;
                font-size: 2rem;
            }
            #mainTitle {
                font-size: 5rem;
                font-weight: 100;font-family: 'Montserrat', sans-serif;
                padding-top: 50px
            }
            #joinOverFacebook {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 2rem;
                color: black
            }
        }

    </style>

    <script>
        $(document).ready(() => {

            $('#login').show()
            $('#registration').hide()
        })

        function registration() {

            $('#registration').show()
            $('#login').hide()

        }

        function login() {

            $('#registration').hide()
            $('#login').show()

        }
    </script>


</head>

<style>
    body{
        background-image: url('/images/bg-9.jpg');
        background-repeat: no-repeat ;
        background-size: cover;
        background-position: top;

    }
    hr.new1 {
        border-top: 1px solid gray;
    }
    hr.new2 {
        border-top: 1px solid gray;
    }


</style>


<body>

<div class="app-block-intro" style="color: black">
    <hr class="new1">
    <div class="container text-xs-center">
        <h1 class="block-title mb-0 app-myphone-brand text-uppercase" id="mainTitle">Edukacijska Igra  Globalni Projekti</h1>
        <p class="lead mb-5 pb-5 " id="mainText">Provjerite svoje znanje o <span class="greenTitle">globalnim projektima</span>. Pokrenite edukacijsku igru o specifičnosti globalnih projekata i postanite <span class="greenTitle">projektni menadžer na studijskom primjeru!</span></p>
    </div>
</div>


<div class="container" id="auth">
    <hr class="new2">
    <div class="row" style="text-align: center">
        <div class="col-sm-6">
            <div class="block app-translate-5" data-transition="entrance" style="background-color: transparent">
                <form class="login100-form validate-form flex-sb flex-w justify-content-center">
					<span class="login100-form-title black" id="joinOverFacebook">
                        Pridruži se preko Facebook-a
					</span>

                    <a href="/auth/facebook" class="btn btn-lg btn-success justify-content-center" style="margin-top: 1rem;  padding: 1rem; font-family:'Montserrat', sans-serif">
                        <i class="fa fa-facebook-official"></i>
                        Facebook prijava
                    </a>
                </form>
            </div>
        </div>

        <div class="col-sm-6" id="login" style="margin-top: 50px">
            <div class=" app-translate-5" data-transition="entrance">
                    <div class="box">
                        <form action="/home" method="POST" class="form">
                            <input type="text" class="email" name="email" placeholder="e-mail" required style="color: black">
                            <input type="password" class="password" name="password" placeholder="lozinka" required>
                            <input type="submit" class="button" value="Prijavi se!" style="font-family:'Montserrat', sans-serif">
                        </form>
                        <p class="registrationLogin" onclick="registration()">Nemate korisnički račun? Kliknite ovdje za registraciju!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" id="registration" style="margin-top: 50px">
            <div class=" app-translate-5" data-transition="entrance">
                    <div class="box">
                        <form action="/register" method="POST" class="form">
                            <input type="text" class="email" name="email" placeholder="e-mail" required>
                            <input type="text" class="email" name="username" placeholder="korisničko ime" required>
                            <input type="password" class="password" name="password" placeholder="lozinka" required>
                            <input type="submit" class="button" value="Registriraj se!">
                        </form>
                        <p class=" registrationLogin" onclick="login()">Imate korisnički račun? Kliknite ovdje za prijavu!</p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- jQuery
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

<!-- Contact Form JavaScript
<script src="js/jqBootstrapValidation.js"></script>
<!--script src="js/contact_me.js"></script-->

<!-- Theme JavaScript -->


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
<![endif]-->

<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/toolkit.js"></script>
</html>

