<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/custom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <style>
        body {
            background-image: url('/images/bg-24-min.jpg');
            background-repeat: no-repeat ;
            background-size: cover;
            background-position: center;
        }
    </style>

    <% include header.ejs %>

    <div class="col-6" id="login" style="margin-top: 50px">
        <div class="app-translate-5" data-transition="entrance">
            <div class="box" style="text-align: center">
                <form action="/adminLogin" method="POST" class="form">
                    <input type="text" class="admin" name="username" placeholder="korisniÄko ime" required style="color: black">
                    <input type="password" class="password" name="password" placeholder="lozinka" required>
                    <input type="submit" class="button" value="Admin prijava" style="font-family:'Montserrat', sans-serif">
                </form>
            </div>
        </div>
    </div>



    </form>
